.profile__name{
    margin: 0;
    max-width: 75vw;
    font-style: normal;
    font-weight: 500;
    font-size: 27px;
    line-height: 33px;
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    grid-area: title;
}

@media screen and (min-width: 760px){
    .profile__name{
        max-width: min(42vw, 500px);
        text-align: left;
        font-size: 42px;
        line-height: 48px;
    }
}